.cartitems {
    margin: 100px 170px;
}

.cartitems h1{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    padding-left: 10px;
}

.cartitems hr {
    height: 1px;
    background: black;
    width: 100%;
    border: 0px;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: grey;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid white;
    background-color: whitesmoke;
}

.cartitems-down {
    display: flex;
    margin: 100px 0px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    width: 10px;
    gap: 40px;
}

.cartitems-total-table {
    width: 100%;
    border-collapse: collapse;
}

.cartitems-total-item {
    display: table-row;
}

.cartitems-total-item p,
.cartitems-total-item h3 {
    display: table-cell;
    align-items: left;
    padding: 15px ;
}

.cartitems-total-item p:first-child,
.cartitems-total-item h3:first-child {
    text-align: left;
}

.cartitems-total-item p:last-child,
.cartitems-total-item h3:last-child {
    text-align: right;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: black;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-total button a {
    text-decoration: none;
    color: white;
}
.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: red;
}

.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: white;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: lightgrey;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*  */


.main-message p{
    text-align: center;
    font-size: 500%;
    font-weight: 400;
    
}

.main-message{
    padding: 14% 0%;
    background-color: rgb(247, 244, 241);
}

.primart-text{
    text-align: center;
    font-size: 300%;
    
}
.secondary-text{
    text-align: center;
    font-size: 35%;
}



@media (max-width: 800px) {
    .cartitems {
        margin: 60px 50px;
    }

    .cartitems-format-main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }

    .carticon-product-icon {
        height: 50px;
    }

    .cartitems-remove-icon {
        margin: auto;
    }

    .cartitems-quantity {
        width: 40px;
        height: 30px;
    }

    .cartitems-down {
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }

    .cartitems-total {
        margin: 0px;
    }

    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
        
    }
}

@media (max-width: 500px) {
    .cartitems-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    .cartitems-format {
        display: grid;
    }

    .cartitems hr {
        height: 1px;
        background: white;
        width: 100%;
        border: 0px;
    }
}
